.App {
  text-align: center;
}

.landing-page{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.about-us{
  grid-column: 1 / 2;
}

.signup-form{
  grid-column: 2 / 3;
}


.navbar-header{
  display: grid;
  grid-template-columns: 70px auto auto auto;
  grid-template-rows: auto;
}
